In [3]:
import pandas as pd
import matplotlib.pyplot as plt

In [16]:
# import data into pandas
df = pd.read_csv('Officer_JO Moral Alignment Ranking 2024 (Responses) - Form Responses 1.csv')
df.head()

,Timestamp,Name,Lawful - Chaotic,Evil - Good,Lawful - Chaotic.1,Evil - Good.1,Lawful - Chaotic.2,Evil - Good.2,Lawful - Chaotic.3,Evil - Good.3,...,Lawful - Chaotic.32,Evil - Good.32,Lawful - Chaotic.33,Evil - Good.33,Lawful - Chaotic.34,Evil - Good.34,Lawful - Chaotic.35,Evil - Good.35,Lawful - Chaotic.36,Evil - Good.36
0,3/19/2024 12:51:38,cat,7.0,8.0,2,10,8,3,6,6,...,7.0,7.0,7.0,3.0,3.0,7.0,2.0,2.0,NaN,NaN
1,3/19/2024 12:52:03,Raymond Sun,10.0,0.0,0,10,10,10,6,6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3/19/2024 12:54:01,Alex Lu,NaN,NaN,2,7,9,3,8,6,...,9.0,5.0,9.0,3.0,1.0,9.0,8.0,2.0,NaN,6.0
3,3/19/2024 12:54:57,Zhikai Tang,3.0,5.0,1,10,8,9,3,3,...,6.0,8.0,4.0,5.0,7.0,3.0,5.0,5.0,2.0,5.0
4,3/19/2024 12:58:07,Zoie Lee,6.0,5.0,1,9,7,5,6,7,...,6.0,6.0,6.0,6.0,0.0,10.0,0.0,10.0,5.0,5.0

In [17]:
# clean up csv
df = df.drop(df.columns[:2], axis=1)
names = ['Alex Lu', 'Shawn Hatcher', 'Selina Wu', 'Jessica Yin', 'Raymond Sun', 'Naomi Norton', 'Cris Ferreon', 'Marcel Lee', 'Jayden Lu', 'Cindy Chai', 'Victoria Vuong', 'Cat Li', 'Jing Zhang', 'Zhikai Tang', 'Elaina Lan', 'Zoie Lee', 'Timmy Huang', 'Michael Ouyang', 'Zijing Lian', 'Aaron Hew', 'Andrew Lee', 'Shuhan Sun', 'Rohit Bandi', 'Nick Nguyen', 'Jessie Chen', 'Crystal Lee', 'Diana Yang', 'Josh Dong', 'Audrey Tan', 'Jordan Chen', 'Jason Li', 'Aaron Hu', 'Corn Wang', 'Diane Guo', 'Jely Lin', 'Annie Teng', 'Cyndi Liang']
columnLables = []
# Iterate over each name and generate two variations
for name in names:
    lawful_chaotic = name + " LawfulChaotic"
    evil_good = name + " EvilGood"
    columnLables.extend([lawful_chaotic, evil_good])
df.columns = columnLables
df.head()

,Alex Lu LawfulChaotic,Alex Lu EvilGood,Shawn Hatcher LawfulChaotic,Shawn Hatcher EvilGood,Selina Wu LawfulChaotic,Selina Wu EvilGood,Jessica Yin LawfulChaotic,Jessica Yin EvilGood,Raymond Sun LawfulChaotic,Raymond Sun EvilGood,...,Corn Wang LawfulChaotic,Corn Wang EvilGood,Diane Guo LawfulChaotic,Diane Guo EvilGood,Jely Lin LawfulChaotic,Jely Lin EvilGood,Annie Teng LawfulChaotic,Annie Teng EvilGood,Cyndi Liang LawfulChaotic,Cyndi Liang EvilGood
0,7.0,8.0,2,10,8,3,6,6,2,5,...,7.0,7.0,7.0,3.0,3.0,7.0,2.0,2.0,NaN,NaN
1,10.0,0.0,0,10,10,10,6,6,0,10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,2,7,9,3,8,6,2,5,...,9.0,5.0,9.0,3.0,1.0,9.0,8.0,2.0,NaN,6.0
3,3.0,5.0,1,10,8,9,3,3,6,1,...,6.0,8.0,4.0,5.0,7.0,3.0,5.0,5.0,2.0,5.0
4,6.0,5.0,1,9,7,5,6,7,5,5,...,6.0,6.0,6.0,6.0,0.0,10.0,0.0,10.0,5.0,5.0